<div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: #273238;">
    <div class="container">
      <header id="home" style="height: 530px;">

        <!-- end #nav-wrap -->

        <div class="row banner">
          <div class="banner-text">
            <img src="https://d1y6bibefcioc9.cloudfront.net/img/mainlogo.svg" style="width: 111px;height: auto;" />
            <h1 class="responsive-headline" style="font-size: 74px;font-weight: 700;margin-top: 10px;">Savemonk</h1>
            <h3>
              At savemonk, we are on a mission of becoming india’s savings destination. We are associated with around 100+ stores to promote
              savings on every transaction our customer does on our partner stores. Our sole aim is to make savemonk an ubiquitous
              platform by helping our users save money on all their transactions via the exclusive Savemonk cashback scheme.
            </h3>
            <hr>
            <ul class="social">
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>



      </header>
    </div>
  </div>
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="text-center" style="margin-top: 52px;font-size: 44px;margin-bottom:20px;">How to use</h3>
      <p class="how-to-p">
        Through our association with around 100 stores, we have made it possible for our customers to save money everytime they shop
        online. So, remember to log on to Savemonk before any ecommerce transaction you make.
      </p>
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://d1y6bibefcioc9.cloudfront.net/img/login_.png" alt="" style="width: 100%;height: auto;">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step One</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://d1y6bibefcioc9.cloudfront.net/img/activate_Rewards.png" alt="" style="width: 100%;height: auto;">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Two</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://d1y6bibefcioc9.cloudfront.net/img/redirect.png" alt="" style="width: 100%;height: auto;">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Three</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="https://d1y6bibefcioc9.cloudfront.net/img/Bank.png" alt="" style="width: 100%;height: auto;">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Step Three</h4>
              <h4 class="subheading">Subtitle</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <section id="about">
    <div class="container">
        <p style="text-align: center;">
          © 2017 ZEDNX Technologies Private Ltd. All rights reserved.
          </p>
    </div>
  </section>
</div>